<!DOCTYPE html>
<!-- Lesson 1: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504792 -->
<!-- Lesson 2: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504793 -->
<!-- Lesson 3: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504794 -->
<!-- Lesson 4: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504795 -->
<!-- Lesson 5: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504796 -->
<!-- Lesson 6: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504797 -->
<!-- Lesson 7: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504798 -->
<!-- Lesson 8: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504799 -->
<!-- Lesson 9: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504800 -->
<!-- Lesson 10: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504801 -->
<!-- Lesson 11: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504802 -->
<!-- Lesson 12: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504803 -->
<!-- Lesson 13: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504804 -->
<!-- Lesson 14: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504805 -->
<!-- Lesson 15: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504806 -->
<!-- Lesson 16: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504807 -->
<!-- Lesson 17: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504808 -->
<!-- Lesson 18: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504809 -->
<!-- Lesson 19: https://stackskills.com/courses/angularjs-from-zero-to-hero/lectures/504810 -->
<html lang="en" ng-app="codecraft">
<head>
	<title>Contacts</title>
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../libs/bootstrap-additions/dist/bootstrap-additions.min.css" rel="stylesheet">
	<link href="../libs/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Contacts</a>
		</div>
	</div>
</nav>

<div class="container main-content">
	<div class="row">
		<div class="col-md-8" ng-controller="PersonListController">
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline well well-sm">
						<span class="glyphicon glyphicon-search"></span>

						<fieldset class="form-group">
							<input type="text"
								   class="form-control"
								   id="name"
								   placeholder="Search by anything..."
								   ng-model="search"/>
						</fieldset>

						<span class="glyphicon glyphicon-sort-by-attributes"></span>

						<fieldset class="form-group">
							<select class="form-control"
									ng-model="sorting">
								<option value="">Select order</option>
								<option value="name">Name (ASC)</option>
								<option value="-name">Name (DES)</option>
								<option value="email">Email (ASC)</option>
								<option value="-email">Email (DES)</option>
								<option value="phonenumber">Phonenumber (ASC)</option>
								<option value="-phonenumber">Phonenumber (DES)</option>
							</select>
						</fieldset>

						<button class="btn btn-primary pull-right" ng-click="showCreateModal()">Create</button>
					</form>

					<table class="table table-bordered" infinite-scroll="loadMore()" infinite-scroll-distance="1">
						<tr>
							<th>Photo</th>
							<th>
								<span>Name</span>
								<span class="glyphicon glyphicon-menu-up" ng-click="sortBy('name')"></span>
								<span class="glyphicon glyphicon-menu-down" ng-click="sortBy('-name')"></span>
							</th>
							<th>
								<span>Email</span>
								<span class="glyphicon glyphicon-menu-up" ng-click="sortBy('email')"></span>
								<span class="glyphicon glyphicon-menu-down" ng-click="sortBy('-email')"></span>
							</th>
							<th>
								<span>Phonenumber</span>
								<span class="glyphicon glyphicon-menu-up" ng-click="sortBy('phonenumber')"></span>
								<span class="glyphicon glyphicon-menu-down" ng-click="sortBy('-phonenumber')"></span>
							</th>
						</tr>
						<tr ng-repeat="person in contacts.persons track by $index"
							ng-style="{
								'background-color': person === contacts.selectedPerson ? '#eaeaea' : ''
							}"
							ng-click="contacts.selectPerson(person)">
							<td>
								<!-- use ng-src so angular prevents the browser from loading the actual text before angular has evaluated it and set the src attribute itself -->
								<img ng-src="{{ person.photo }}" class="img-circle profile-photo" alt="photo of {{ person.name }}" />
							</td>
							<td>{{ person.name }}</td>
							<td>{{ person.email }}</td>
							<td>{{ person.phonenumber }}</td>
						</tr>
					</table>

					<div ng-show="contacts.persons.length === 0 && !contacts.isLoading">
						<div class="alert alert-info">
							<p class="text-center">
								No results found for search: "{{ search }}"
							</p>
						</div>
					</div>

					<div class="spinner" ng-show="contacts.isLoading">
						<span us-spinner="{radius:8, width:5, length:3, lines:9}"></span>
						<p>Loading...</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4" ng-controller="PersonDetailController">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span>Details</span>

					<button class="btn btn-danger btn-sm pull-right" ladda="contacts.isDeleting" ng-click="delete()">Delete</button>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" ng-submit="save()" novalidate>
						<ng-include src="'templates/form.html'"></ng-include>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="../libs/angular/angular.min.js"></script>
<script src="../libs/angular-resource/angular-resource.min.js"></script>
<script src="../libs/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
<script src="../libs/spin.js/spin.js"></script>
<script src="../libs/angular-spinner/angular-spinner.min.js"></script>
<script src="../libs/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
<script src="../libs/ladda/dist/spin.min.js"></script>
<script src="../libs/ladda/dist/ladda.min.js"></script>
<script src="../libs/angular-ladda/dist/angular-ladda.min.js"></script>
<script src="../libs/angular-strap/dist/angular-strap.min.js"></script>
<script src="../libs/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="main.js"></script>
</body>
</html>
