<!doctype html>
<html ng-app>
<head>
    <title>Iterating Over Data</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
</head>

<!--
    Filters:

    Angular out-of-the-bod filters:
    currency, date, filter, json, limitTo, uppercase, lowercase, number, orderBy

-->

<body ng-init="customers=[{joined: '2000-12-02', name:'John', city:'Chandler', orderTotal: 9.9956}, {joined: '1965-01-25',name:'Zed', city:'Las Vegas', orderTotal: 19.99},{joined: '1944-06-15',name:'Tina', city:'New York', orderTotal:44.99}, {joined: '1995-03-28',name:'Dave', city:'Seattle', orderTotal:101.50}]">
    <h2>Customers</h2>

    <div>
        <!-- Passing through the property of the object we want to actual filter by -->
        Filter: <input type="text" ng-model="customerFilter.name"/>
    </div>

    <table>
        <tr>
            <th ng-click="customerSorting='name';reverse=!reverse">Name</th>
            <th ng-click="customerSorting='city';reverse=!reverse">City</th>
            <th ng-click="customerSorting='orderTotal';reverse=!reverse">Order Total</th>
            <th ng-click="customerSorting='joined';reverse=!reverse">Joined</th>
        </tr>
        <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:customerSorting:reverse">
            <td>{{ cust.name | lowercase }}</td>
            <td>{{ cust.city | uppercase }}</td>
            <td>{{ cust.orderTotal | currency:"Y" }}</td>
            <td>{{ cust.joined | date:'dd MMM yyyy' }}</td>
        </tr>
    </table>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
</body>
</html>
