<!doctype html>
<html ng-app="demoApp">
<head>
    <title>Iterating Over Data</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="CustomerController">
<h2>Customers</h2>

<div>
    <!-- Passing through the property of the object we want to actual filter by -->
    Filter: <input type="text" ng-model="customerFilter.name"/>
</div>

<table>
    <tr>
        <th ng-click="doSort('name')">Name</th>
        <th ng-click="doSort('city')">City</th>
        <th ng-click="doSort('orderTotal')">Order Total</th>
        <th ng-click="doSort('joined')">Joined</th>
    </tr>
    <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:customerSorting:reverse">
        <td>{{ cust.name }}</td>
        <td>{{ cust.city }}</td>
        <td>{{ cust.orderTotal | currency:"Y" }}</td>
        <td>{{ cust.joined | date:'dd MMM yyyy' }}</td>
    </tr>
</table>
<p>Total customers: {{ customers.length }}</p>

<script src="../../lib/angular.js"></script>
<script src="app/controllers/CustomerController.js"></script>
</body>
</html>
