<div class="col-md-12">
    <table class="table table-bordered" infinite-scroll="loadMore()" infinite-scroll-distance="1">
        <tr>
            <th>Photo</th>
            <th>
                <div class="sortables">
                    <span class="fa fa-sort-asc" ng-click="sortBy('name')"></span>
                    <span class="fa fa-sort-desc" ng-click="sortBy('-name')"></span>
                </div>
                <span>Name</span>
            </th>
            <th>
                <div class="sortables">
                    <span class="fa fa-sort-asc" ng-click="sortBy('email')"></span>
                    <span class="fa fa-sort-desc" ng-click="sortBy('-email')"></span>
                </div>
                <span>Email</span>
            </th>
            <th>
                <div class="sortables">
                    <span class="fa fa-sort-asc" ng-click="sortBy('phonenumber')"></span>
                    <span class="fa fa-sort-desc" ng-click="sortBy('-phonenumber')"></span>
                </div>
                <span>Phonenumber</span>
            </th>
        </tr>
        <tr ng-repeat="person in contacts.persons track by $index"
            ng-style="{
                        'background-color': person === contacts.selectedPerson ? '#eaeaea' : ''
                    }"
            ui-sref="edit({id:person.id})">
            <td>
                <!-- use ng-src so angular prevents the browser from loading the actual text before angular has evaluated it and set the src attribute itself -->
                <img ng-src="{{ person.photo | defaultImage:'./avatar.png' }}" class="img-circle profile-photo" alt="photo of {{ person.name }}" />
            </td>
            <td>{{ person.name }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.phonenumber }}</td>
        </tr>
    </table>

    <div ng-show="contacts.persons.length === 0 && !contacts.isLoading">
        <div class="alert alert-info">
            <p class="text-center">
                No results found for search: "{{ search }}"
            </p>
        </div>
    </div>

    <!-- Custom directive: directive in JS is camelCase, and is converted to hyphenated directive for use in HTML -->
    <!-- cc-spinner is the "function name", the is-loading attribute is simply a parameter passed to the function -->
    <cc-spinner is-loading="contacts.isLoading" message="{{ contacts.search ? 'Searching for ' + contacts.search : 'Loading'}}..."></cc-spinner>
    <!--
        can also be defined as:
        <div cc-spinner></div>
        ...and (if configured in the directive via the 'restrict' param)...
        <div class="cc-spinner"></div>
    -->
    <!--
        This is currently the same as doing this, which is a built in directive that does exactly the same as the above
        <ng-include src="'templates/spinner.html'"></ng-include>
    -->
</div>
