<!doctype html>
<html ng-app>
<head>
    <title>Iterating Over Data</title>
</head>

<!--
    ng-repeat
-->

<body ng-init="people=[{name:'Dave', city:'London'}, {name:'Jeff', city:'Bristol'}, {name:'Heedy', city:'Liverpool'}, {name:'Danny', city:'Cardiff'}]">

    <ul>
        <li ng-repeat="person in people">{{ person.name }} {{ person.city }}</li>
    </ul>

    <br/>

    <table>
        <tr>
            <th>Name</th>
            <th>City</th>
        </tr>
        <tr ng-repeat="person in people">
            <td>{{ person.name }}</td>
            <td>{{ person.city }}</td>
        </tr>
    </table>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
</body>
</html>
